.chart {
    border: 1px solid red;
    overflow: hidden;
}

.chart .y-axes {
    background: yellow;
    border-right: 1px solid blue;
    float: left;
    width: 50px;
    padding-right: 10px;
}

.chart ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.chart .y-axes ul li {
    margin-bottom: 10px;
}

.chart .y-axes ul li:last-of-type {
    margin-bottom: 0;
}

.chart .x-axes {
    background: red;
    border-top: 1px solid blue;
}

.chart .content {
    width: 100%;
    overflow: hidden;
}

.chart .x-axes ul {
    width: 100%;
}

.chart .x-axes ul li {
    text-align: right;
    float: left;
}

.chart .content .content-data {
    background: blue;
    float: left;
    height: 100%;
}