.content .btn-prev-next-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.content .btn-prev-next-group .btn {
    color: #025aa0;
    font-size: 16px;
    cursor: pointer;
    margin: auto auto 10px auto;
}

.content .btn-prev-next-group .btn img {
    width: 22px;
    height: 22px;
    margin-top: -2px;
}

.content .btn-prev-next-group .btn.prev img {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-right: 5px;
}

.content .title-day h2 {
    font-size: 30px;
}

.content .title-day h2 em {
    font-size: 15px;
    font-style: normal;
}

.direction-collection {
    width: 100%;
}

.content .how-works {
    margin-bottom: 20px;
}

.content .how-works h2 {
    text-align: center;
    font-weight: 600;
    color: #484848;
    margin-bottom: 20px;
}

.content .how-works .dots {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media only screen and (max-width: 400px) {
    .content .how-works .dots .dots-item {
        width: 100%;
        margin-bottom: 20px;
    }
    .content .how-works .dots .dots-item:last-of-type {
        margin-bottom: 0;
    }
}

.content .how-works .ant-btn.ant-btn-primary {
    width: 100%;
    margin-top: 20px;
}

.how-works .dots-item span {
    font-size: 14px;
}

.how-works .close {
    width: 20px;
    height: 20px;
    position: relative;
    left: calc(100% - 20px);
    margin-bottom: -23px;
    padding: 0;
    margin-top: -2px;
    cursor: pointer;
}

.how-works .close:hover .icon-close:before {
    color: #025aa0;
}

.icon-close:before {
    content: "\e900";
    font-family: 'icomoon';
    font-size: 18px;
    margin: 0;
    color: #bdc3c7;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

@media only screen and (max-width: 330px) {
    header .details .line:last-of-type {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .content .direction-collection .direction-item .informations {
        display: none;
    }
}

.global-delay-details hr {
    border-width: 0 0 1px 0;
    border-color: #e8e8e8;
    border-style: dashed;
    margin-bottom: 20px;
}

.global-delay-details .notice {
    text-align: left;
    font-size: 15px;
    border-radius: 5px;
    color: blue;
    color: #FF4757;
    font-weight: 500;
}

/* DIRECTION ITEM */

.direction-collection .direction-item {
    margin-bottom: 20px;
}

.timeline {
    padding: 10px 0;
    margin-left: 60px;
}

.ant-timeline-item {
    padding: 0;
}

.ant-timeline-item-last>.ant-timeline-item-content {
    min-height: 0;
}

.ant-timeline-item-head, .ant-timeline-item-tail {
    -webkit-box-shadow: 0 3px 10px 0 #0000001f;
    box-shadow: 0 3px 10px 0 #0000001f;
    border-radius: 5px;
    margin-top: 6px;
}

.ant-timeline-item-tail {
    top: 0;
}

.ant-timeline-item-head-green {
    background: #2ed573;
    border-color: #2ed573;
}

.ant-timeline-item-head-red {
    background: #ff4757;
    border-color: #ff4757;
}

.ant-timeline-item-head-grey {
    background: #a4b0be;
    border-color: #a4b0be!important;
}

.station-informations {
    overflow: hidden;
    margin-left: -80px;
}

.station-informations .time {
    float: left;
    font-size: 18px;
    font-weight: 600;
    color: #484848;
    margin-right: 30px;
}

.station-informations .direction {
    float: left;
}

.station-informations .direction h3 {
    font-size: 18px;
    font-weight: 300;
    color: #484848;
    padding: 0;
    margin: 0;
}

.station-informations .direction span.to {
    display: block;
    width: 100%;
    color: #484848;
    font-weight: 300;
}

.station-informations .global-data {
    float: right;
    overflow: hidden;
    padding-left: 30px;
    border-left: 1px solid #e2e8ec;
}

.station-informations .global-data .charts-container {
    float: left;
    padding: 10px 0;
    margin-right: 40px;
}

.station-informations .global-data .dots-container {
    float: right;
    margin-top: 40px;
}

.detail .station-informations .time {
    width: 100%;
    float: none;
}

.detail .station-informations .time.departure {
    margin-top: -70px;
    padding-bottom: 30px;
}

.detail .station-informations .data-infos {
    overflow: hidden;
    margin-left: 80px;
    margin-top: -20px;
}

.detail .station-informations .data-infos .direction {
    margin-top: 20px;
}

.detail .ant-timeline-item-head {
    margin-top: 30px;
}

/* DOTS */

.dots-item {
    overflow: hidden;
}

.global-dots {
    margin-left: calc((100% - 45px) / 2);
}

.global-dots .dot {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin-right: 5px;
    float: left;
    -webkit-box-shadow: 0 3px 10px 0 #0000001f;
    box-shadow: 0 3px 10px 0 #0000001f;
    border-radius: 100%;
}

.global-dots .dot.green {
    background: #00da67;
}

.global-dots .dot.grey {
    background: #dfe8f0;
}

.global-dots .dot.red {
    background: #ff2b50;
}

.global-dots .dot.orange {
    background: #ffa100;
}

.global-dots .dot:last-of-type {
    margin-right: 0;
}

.dots-item span {
    display: block;
    margin-top: 20px;
    font-weight: 400;
    color: #484848;
    font-size: 12px;
    text-align: center;
}