.content .btn-prev-next-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.content .btn-prev-next-group .btn {
    color: #025aa0;
    font-size: 16px;
    cursor: pointer;
    margin: auto auto 10px auto;
}

.content .btn-prev-next-group .btn img {
    width: 22px;
    height: 22px;
    margin-top: -2px;
}

.content .btn-prev-next-group .btn.prev img {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-right: 5px;
}

.content .title-day h2 {
    font-size: 30px;
}

.content .title-day h2 em {
    font-size: 15px;
    font-style: normal;
}

.direction-collection {
    width: 100%;
}

.content .how-works {
    margin-bottom: 20px;
}

.content .how-works h2 {
    text-align: center;
    font-weight: 600;
    color: #484848;
    margin-bottom: 20px;
}

.content .how-works .dots {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media only screen and (max-width: 400px) {
    .content .how-works .dots .dots-item {
        width: 100%;
        margin-bottom: 20px;
    }
    .content .how-works .dots .dots-item:last-of-type {
        margin-bottom: 0;
    }
}

.content .how-works .ant-btn.ant-btn-primary {
    width: 100%;
    margin-top: 20px;
}

.how-works .dots-item span {
    font-size: 14px;
}

.how-works .close {
    width: 20px;
    height: 20px;
    position: relative;
    left: calc(100% - 20px);
    margin-bottom: -23px;
    padding: 0;
    margin-top: -2px;
    cursor: pointer;
}

.how-works .close:hover .icon-close:before {
    color: #025aa0;
}

.icon-close:before {
    content: "\e900";
    font-family: 'icomoon';
    font-size: 18px;
    margin: 0;
    color: #bdc3c7;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}