.content .btn-prev-next-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.content .btn-prev-next-group .btn {
    color: #025aa0;
    font-size: 16px;
    cursor: pointer;
}

.content .btn-prev-next-group .btn img {
    width: 22px;
    height: 22px;
    margin-top: -2px;
}

.content .btn-prev-next-group .btn.prev img {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-right: 5px;
}

.content .btn-prev-next-group .btn.next img {
    margin-left: 5px;
}

.content .title-day h2 {
    font-size: 30px;
}

.content .title-day h2 em {
    font-size: 15px;
    font-style: normal;
}

.direction-collection {
    width: 100%;
}

.direction-collection .direction-item {
    margin: 10px 0 20px;
    overflow: hidden;
}

.direction-item .ant-timeline-item-head-green {
    border-color: #93c958;
    background: #93c958;
}

.direction-item .ant-timeline-item-head-red {
    border-color: #ff4750;
    background: #ff4750;
}

.direction-item .ant-timeline-item-head-grey {
    border-color: #bdc3c7!important;
    background: #bdc3c7;
    margin-top: 20px!important;
}

.direction-item .ant-timeline {
    margin-left: 60px;
}

.direction-collection .ant-timeline-item-tail {
    border-left-style: dashed;
}

.direction-collection .direction-item .infos {
    margin-left: -75px;
    overflow: hidden;
}

.direction-collection .direction-item .infos h3 {
    float: left;
    font-size: 17px;
    color: #484848;
    font-weight: 500;
}

.direction-collection .direction-item .infos .departure {
    float: left;
    margin-left: 30px;
}

.direction-collection .direction-item .infos .departure h2 {
    font-size: 17px;
    color: #484848;
    font-weight: 300;
}

.direction-collection .direction-item .infos .departure span {
    color: #484848;
    font-weight: 300;
    font-style: italic;
    margin-top: -5px;
    display: block;
}

.direction-collection .direction-item .infos .platform {
    float: right;
    display: block;
    font-weight: 300;
    color: #484848;
    margin-top: 3px;
}

.direction-collection .direction-item .ant-timeline-item-head {
    margin-top: 2px;
}

.direction-collection .direction-item .ant-timeline-item:last-of-type {
    padding: 0;
}

.direction-collection .direction-item .ant-timeline-item-last>.ant-timeline-item-content {
    min-height: 0;
}

.direction-item.white-box {
    padding-bottom: 3px;
}

.direction-collection .direction-item .timeline {
    float: left;
}

.direction-collection .direction-item .timeline.wide {
    float: none;
}

.direction-collection .direction-item .informations {
    float: right;
    border-left: 1px solid #E2E8ED;
    padding-left: 15px;
}

.direction-collection .direction-item .informations .ant-progress {
    margin-top: 5px;
}

.direction-collection .direction-item .ant-progress-circle .ant-progress-text {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    color: #EE5253;
    font-weight: 600;
}

.direction-collection .direction-item .progress-info span {
    display: block;
}

.direction-collection .direction-item .progress-info span.percent {
    color: #484848;
    font-weight: 300;
    font-size: 10px;
    margin-top: 4px;
}

.direction-collection .direction-item .details-stations .infos {
    margin-bottom: 5px;
}

.direction-collection .direction-item .details-stations .infos .line {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.direction-collection .direction-item .details-stations .line.station-name {
    margin-top: -15px;
}

.direction-collection .direction-item .details-stations .infos .departure {
    margin-left: 75px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 75px);
}

.direction-collection .direction-item .details-stations .infos .departure .platform {
    display: block;
    font-weight: 300;
    color: #484848;
    margin-top: 3px;
    font-style: normal;
}

.direction-collection .direction-item .details-stations .infos .line.arrival-time {
    margin-top: -15px;
}

.direction-collection .direction-item .details-stations .detail:last-of-type {
    margin-bottom: 15px;
}

.direction-collection .direction-item .global-delay-details {
    margin-top: 5px;
}