/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600&display=swap');
@font-face {
    font-family: 'icomoon';
    src: url('./fonts/icomoon/icomoon.eot?xjgvu6');
    src: url('./fonts/icomoon/icomoon.eot?xjgvu6#iefix') format('embedded-opentype'), url('./fonts/icomoon/icomoon.ttf?xjgvu6') format('truetype'), url('./fonts/icomoon/icomoon.woff?xjgvu6') format('woff'), url('./fonts/icomoon/icomoon.svg?xjgvu6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    background: #fcfcff;
}

.content {
    margin: auto;
    font-family: 'Work Sans', sans-serif;
}

.white-box {
    background: #fff;
    padding: 20px 10px;
    border-radius: 5px;
}

.content.global {
    padding-top: 80px;
}

.content.big-header-enabled {
    padding-top: 150px;
}

.shadow {
    -webkit-box-shadow: 0 3px 10px 0 #0000001f;
    box-shadow: 0 3px 10px 0 #0000001f;
    background: #fff;
    border-radius: 5px;
}

@media only screen and (min-width: 1000px) {
    .content {
        width: 1000px;
    }
}

@media only screen and (max-width: 1050px) {
    .content {
        width: 95%;
    }
}

h1, h2, h3 {
    color: #025aa0;
}

@media only screen and (min-width: 1000px) {
    .inside-content {
        padding: 10px;
    }
}

@media only screen and (max-width: 999px) {
    .inside-content {
        padding: 5px;
    }
}

.notice {
    text-align: center;
    color: #025aa0;
    font-weight: 300;
    font-size: 20px;
}

.popup-direction-form {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:999;
}

.wrong-field .ant-input {
    border:1px solid #ff4650;
}